.heading-large {
  font-size: 5rem;
  letter-spacing: 5px;
}

.menu-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.sticky {
  position: sticky;
  top: 2rem;
}

.hero {
  background: #e8e8e8;
}

.order {
  letter-spacing: 5px;
}

.order-items {
  background: #e8e8e8;
}

/* .nav_logo {
    background: linear-gradient(45deg, #ff6b6b, #3a1c71);
    background: url("./assets/logo.png");
    margin: 0;
    border-radius: 0 15px 0 15px;
  } */
