:root {
  /* --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577; */
  --color-primary: lightblue;
}

body {
  color: black;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
  /* border: 1px solid red; */
}

.logo-icon {
  width: 50px;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.link {
  text-decoration: none;
}

.link-primary {
  color: black;
  font-weight: 800;
}

.link-primary:hover {
  color: var(--color-primary);
}

.btn {
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-primary {
  background: var(--color-primary);
  /* box-shadow: none;  */
  color: whitesmoke;
}

.btn-primary:hover {
  color: black;
}

/* .heading-large {
  font-size: 5rem;
  letter-spacing: 5px;
}

.menu-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.sticky {
  position: sticky;
  top: 2rem;
}

.hero {
  background: #e8e8e8;
}

.order {
  letter-spacing: 5px;
}

.order-items {
  background: #e8e8e8;
} */
